.header {

    background-color: var(--color-transparent);

    & img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        padding: 15px;
    }

    & ul {
        display: flex;
        flex-direction: row;
        align-items: center;

    }

    .header-nav-link {
        background-color: transparent;
        border: 2px solid #fff;
        box-sizing: border-box;
        color: #000;
        cursor: pointer;
        display: inline-block;
        letter-spacing: 0.05em;
        margin: 30px;
        outline: none;
        overflow: visible;
        padding: 1.25em 2em;
        position: relative;
        text-align: center;
        text-decoration: none;
        text-transform: none;
        transition: all 0.3s ease-in-out;
        user-select: none;
        font-size: 13px;

        &::before {
            content: " ";
            width: 1.5625rem;
            height: 2px;
            background: white;
            top: 50%;
            left: 1.5em;
            position: absolute;
            transform: translateY(-50%);
            transform-origin: center;
        }

        .text {
            font-family: var(--font-01);
            font-size: 1.125em;
            line-height: 1.33em;
            padding-left: 2em;
            display: block;
            text-align: left;
            transition: all 0.3s ease-in-out;
            text-transform: uppercase;
            text-decoration: none;
            color: white;
        }

        .top-key {
            height: 2px;
            width: 1.5625rem;
            top: -2px;
            left: 0.625rem;
            position: absolute;
            background: #212121;
            transition: width 0.5s ease-out, left 0.3s ease-out;
        }

        .bottom-key-1 {
            height: 2px;
            width: 1.5625rem;
            right: 1.875rem;
            bottom: -2px;
            position: absolute;
            background: #212121;
            transition: width 0.5s ease-out, right 0.3s ease-out;
        }

        .bottom-key-2 {
            height: 2px;
            width: 0.625rem;
            right: 0.625rem;
            bottom: -2px;
            position: absolute;
            background: #212121;
            transition: width 0.5s ease-out, right 0.3s ease-out;
        }

        &:hover {
            color: white;
            background: white;

            &::before {
                width: 0.9375rem;
                background: black;
            }

            .text {
                color: black;
                padding-left: 1.5em;
            }

            .top-key {
                left: -2px;
                width: 0px;
            }

            .bottom-key-1,
            .bottom-key-2 {
                right: 0;
                width: 0;
            }
        }


    }

    .input {
        width: 200px;
        height: 5px;
        border: none;
        outline: none;
        border-radius: 15px;
        padding: 1em;
        background-color: #ccc;
        box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
        transition: 300ms ease-in-out;

        &:focus {
            background-color: var(--color-white);
            transform: scale(1.05);
            box-shadow: 13px 13px 100px #969696,
                -13px -13px 100px var(--color-white);
        }
    }

}