---
import App from "./_App.jsx";
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/src/styles/styles.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Ubuntu:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;700&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href="/assets/images/logo.webp" />
    <title>Francisco Rodríguez</title>
  </head>
  <body>
    <App />
  </body>
</html>
