<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/src/styles/styles.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Ubuntu:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;700&display=swap"
      rel="stylesheet"
    />
    <title>Francisco Rodríguez</title>
  </head>

  <body>
    <header id="header" class="header justify-around items-center">
      <img src="/assets/images/logo.webp" alt="Fran" />

      <ul>
        <a class="header-nav-link" href="">
          <li>
            <span class="top-key"></span>
            <span class="text">Work</span>
            <span class="bottom-key-1"></span>
            <span class="bottom-key-2"></span>
          </li>
        </a>
        <a class="header-nav-link" href="">
          <li>
            <span class="top-key"></span>
            <span class="text">About</span>
            <span class="bottom-key-1"></span>
            <span class="bottom-key-2"></span>
          </li>
        </a>
        <a class="header-nav-link" href="">
          <li>
            <span class="top-key"></span>
            <span class="text">Notes</span>
            <span class="bottom-key-1"></span>
            <span class="bottom-key-2"></span>
          </li>
        </a>
        <a class="header-nav-link" href="">
          <li>
            <span class="top-key"></span>
            <span class="text">Contact</span>
            <span class="bottom-key-1"></span>
            <span class="bottom-key-2"></span>
          </li>
        </a>
      </ul>

      <input
        class="input"
        type="text"
        autocomplete="off"
        name="text"
        placeholder="Search"
      />
    </header>

    <main>
      <a href="#header">
        <!-- scroll button -->
        <button class="scroll-button">
          <div class="scroll-button-box">
            <span class="button-elem">
              <img src="/assets/icons/scrollup.svg" alt="Scroll up" />
            </span>
            <span class="button-elem">
              <img src="/assets/icons/scrollup.svg" alt="Scroll up" />
            </span>
          </div>
        </button>
      </a>

      <div class="background">
        <img src="/assets/images/background.webp" alt="Background" />
        <div class="text">
          <h2>Hi! I'm Fran.</h2>
          <h3>a full stack web developer</h3>
        </div>
      </div>

      <section>
        <div class="info">
          <article class="ai">
            <img src="/assets/images/ai.webp" alt="Ai" />
            <h1>AI</h1>
          </article>

          <article class="articles">
            <img src="/assets/images/articles.webp" alt="Articles" />
            <h1>Articles</h1>
          </article>

          <article class="github">
            <img src="/assets/images/github.webp" alt="Github" />
            <h1>GitHub</h1>
          </article>

          <article class="mobile">
            <img src="/assets/images/mobile.webp" alt="Mobile" />
            <h1>Mobile</h1>
          </article>
        </div>

        <div class="in-progress">
          <h1>in progress...</h1>
          <div class="article-container">
            <article>
              <div class="card">
                <h1>FILMAX</h1>
                <img src="/assets/images/filmax.webp" alt="filmax" />
                <p>
                  Filmax is a film website project for codeSpace and it's my
                  first time with HTML & CSS ;)
                </p>
                <button class="view-more-button"> VIEW MORE </button>
              </div>
            </article>

            <article>
              <div class="card">
                <h1>FILMAX</h1>
                <img src="/assets/images/filmax.webp" alt="filmax" />
                <p>
                  Filmax is a film website project for codeSpace and it's my
                  first time with HTML & CSS ;)
                </p>
                <button class="view-more-button"> VIEW MORE </button>
              </div>
            </article>

            <article>
              <div class="card">
                <h1>FILMAX</h1>
                <img src="/assets/images/filmax.webp" alt="filmax" />

                <p>
                  Filmax is a film website project for codeSpace and it's my
                  first time with HTML & CSS ;)
                </p>
                <button class="view-more-button"> VIEW MORE </button>
              </div>
            </article>

            <article>
              <div class="card">
                <h1>FILMAX</h1>
                <img src="/assets/images/filmax.webp" alt="filmax" />
                <p>
                  Filmax is a film website project for codeSpace and it's my
                  first time with HTML & CSS ;)
                </p>
                <button class="view-more-button"> VIEW MORE </button>
              </div>
            </article>
          </div>
        </div>
      </section>
    </main>
  </body>

  <footer>
    <section class="footer-container">
      <div class="footer-logo">
        <img src="/assets/images/logo.webp" alt="Fran" />
        <h2>Francisco Rodríguez © 2023</h2>
        <a href="">About me</a>
      </div>

      <div class="info-container">
        <span></span>
        <nav>
          <ul class="more-buttons">
            <li>MORE</li>
            <li>
              <button>
                <img
                  class="svg-icon"
                  src="/assets/icons/github.svg"
                  alt="GitHub"
                />
                <span class="text">GitHub</span>
              </button>
            </li>
            <li>
              <button>
                <img
                  class="svg-icon"
                  src="/assets/icons/linkedin.svg"
                  alt="LinkeIn"
                />
                <span class="text">LinkedIn</span>
              </button>
            </li>
            <li>
              <button>
                <img
                  class="svg-icon"
                  src="/assets/icons/figma.svg"
                  alt="Figma"
                />
                <span class="text">Figma</span>
              </button>
            </li>
            <li>
              <button>
                <img class="svg-icon" src="/assets/icons/cv.svg" alt="CV" />
                <span class="text">CV</span>
              </button>
            </li>
            <li>
              <button>
                <img
                  class="svg-icon"
                  src="/assets/icons/posts.svg"
                  alt="Posts"
                />
                <span class="text">Posts</span>
              </button>
            </li>
          </ul>
        </nav>

        <nav>
          <ul class="contacts-buttons">
            <li>CONTACTS</li>
            <span></span>
            <li>
              <button>
                <img src="/assets/icons/whatsapp.svg" alt="WhatsApp" />
                <span class="text">WhatsApp</span>
              </button>
            </li>
            <li>
              <button>
                <img src="/assets/icons/email.svg" alt="Email" />
                <span class="text">Email</span>
              </button>
            </li>
            <li>
              <button>
                <img src="/assets/icons/twitter.svg" alt="Twitter" />
                <span class="text">Twitter</span>
              </button>
            </li>
            <li>
              <button>
                <img src="/assets/icons/facebook.svg" alt="Facebook" />
                <span class="text">Facebook</span>
              </button>
            </li>
            <li>
              <button>
                <img src="/assets/icons/tiktok.svg" alt="TikTok" />
                <span class="text">TikTok</span>
              </button>
            </li>
          </ul>
        </nav>
      </div>

      <div class="tell-me">
        <h1>Tell me about...</h1>
        <div class="input-container">
          <input
            type="text"
            name="text"
            class="input-footer"
            placeholder="write a message"
          />
        </div>
      </div>
    </section>
  </footer>
</html>
